<%- include("../partials/header") %>
<%- include("../partials/navbar") %>


<form action="clucks" method ="POST" class="container">
    <div>
        <div class="cards">
            <div class="mb-3">

                <div>
                    <label class="form-label" name="contents" for="content" >content</label>
                    <br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <br>
                <div>
                    <label class="form-label" for="url" >image Url</label>
                    <br>
                    <input type="text" name="url"  class="form-control" type="text" aria-label="default input example" placeholder="e.g. https://i.imgur.com/some.png" >
                </div>
                <div>
                <input type="submit" class="btn btn-outline-primary" value="Submit">
                </div>
            </div>
        </div>
    </div>
    
</form>
   
<%- include("../partials/footer.ejs") %>

